:root{
    --mainGrey: #9ea399;
    --link: #377bb9;
    --activeLink: #337ab7;
    --cyan: #c1b9d8;
    --darkGrey: #464e58;
    --lightBlue: #eef3f7;
    --hover: #ffa602;
    --lightHover: #d0dfe6;
  }
  a{
    text-decoration: none;
    color: var(--link);
  }
  a:active{
    text-decoration: none;
    color: var(--activeLink);
  }
  textarea:focus, input:focus, button:focus{
    outline: none;
  }

  .container{ 

  }
  .content-wrapper{
    margin-left: 230px;
    padding: 40px 40px 0 10px; 
  }

  .form-container{
    width: 600px;
    display: flex;
    justify-content: space-around;
  }
