:root{
    --mainGrey: #9ea399;
    --link: #377bb9;
    --activeLink: #337ab7;
    --cyan: #c1b9d8;
    --darkGrey: #464e58;
    --lightBlue: #eef3f7;
    --hover: #ffa602;
    --lightHover: #d0dfe6;
  }
  a{
    text-decoration: none;
    color: var(--link);
  }
  a:active{
    text-decoration: none;
    color: var(--activeLink);
  }
  textarea:focus, input:focus, button:focus{
    outline: none;
  }

  .container{ 
    background: #f7f7f7;
  }
  .content-wrapper{
    margin-left: 200px;
    margin-top: -40px;
    padding-top: 40px;
    background: white;
  }

  .form-container{
    width: 800px;
  }
