:root{
    --mainGrey: #9ea399;
    --link: #377bb9;
    --activeLink: #337ab7;
    --cyan: #3bc4d0;
    --darkGrey: #464e58;
    --lightBlue: #eef3f7;
    --hover: #ffa602;
    --lightHover: #d0dfe6;
  }
  a{
    text-decoration: none;
    color: var(--link);
  }
  a:active{
    text-decoration: none;
    color: var(--activeLink);
  }
  textarea:focus, input:focus, button:focus{
    outline: none;
  }

    .content-wrapper{
        position: absolute;
        top: 80px;
        left: 230px;
        max-width: 1400px;
    }

.form-container{
  width: 600px;
  display: flex;
  justify-content: space-around;
}
.btn-group{
  display: flex;
}
.action-btn{
  cursor: pointer;
  width: 140px;
  height: 40px;
  border-radius: 40px;
  border: none;
  color: white;
  font-weight: 600;
  padding-left: 25px
}
.info-btn{
  background-color: rgb(179, 217, 235);
}
.info-btn:hover{
  background-color: #337ab7;
}
.info-btn-icon{
  width: 20px;
  height: 20px;
  background: url('../img/edit_icon.svg') no-repeat;
  background-size: 16px;
  position: absolute;
  left: 18px;
  top: 11px;
}
.delete-btn{
  background-color: rgb(224, 86, 86);
}
.delete-btn:hover{
  background-color: rgb(155, 53, 53);
}
.delete-btn-icon{
  width: 20px;
  height: 20px;
  background: url('../img/delete_icon.svg') no-repeat;
  background-size: 14px;
  position: absolute;
  top: 13px;
  left: 21px;
}