.document-wrapper{
  padding: 40px;
  background: #f7f7f7;
}

.document-info-container{
  margin-left: 15px;
  margin-top: 60px;
}

.input-block{
  width: 100%;
  padding: 20px 60px 56px 40px;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 3px 3px 9px #ececec;
  border-radius: 5px;
}
  .btn-group{
    display: flex;
  }
  .action-btn{
    cursor: pointer;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    border: none;
    color: white;
    font-weight: 600;
    padding-left: 25px; 
    margin-right: 10px;
  }
  
  .edit-btn{
    background-color: #8adcba;
    padding-left: 40px;
  }
  .edit-btn:hover{
    background-color: #3dc18a;
}
  .document-title{
    color: white;
    background: var(--cyan);
    height: 60px;
    width: 870px;
    margin-bottom: -3px;
    display: inline-block;
    line-height: 57px;
    font-size: 23px;
    font-weight: 600;
    padding-left: 30px;
    border-radius: 5px 5px 0 0;
  }
  
  .edit-btn-icon{
    width: 20px;
    height: 20px;
    background: url('../img/edit_icon.svg') no-repeat;
    background-size: 16px;
    position: absolute;
    left: 16px;
    top: 11px;
    pointer-events: none;
  }
  .delete-btn{
    background-color: #ff8d8d;
    padding-left: 20px;
  }
  .delete-btn:hover{
      background-color: #e65252;
  }
  
  .delete-btn-icon{
    width: 14px;
    height: 14px;
    background: url('../img/delete_icon.svg') no-repeat;
    background-size: 14px;
    position: absolute;
    top: 13px;
    left: 22px;
    pointer-events: none;
  }
  .pdf-btn-icon{
    width: 19px;
    height: 19px;
    background: url('../img/pdf_icon.svg') no-repeat;
    background-size: 19px;
    position: absolute;
    top: 10px;
    left: 15px;
    cursor: pointer;
    pointer-events: none;
  }
  .pdf-btn{
    background: #c78fe8;
    padding-left: 30px;
  }

  .submit-btn{
    width: 150px;
    height: 45px;
    color: white;
    background: #00ca63;
    border: none;
    font-family: inherit;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
  }

  .submit-btn:hover{
    background: #00a04d;
  }
  .cancel-btn{
    background: #d4d4d4;
  }
  .cancel-btn-edit{
    margin: 20px 0;
  }
  .cancel-btn:hover{
    background: #929292;
  }
  .pdf-btn:hover{
    background: #a16cc0;
  }
  .arrow-left{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 15px;
    left: 20px;
  }
  .innerText{
    position: absolute;
    top: 12px;
    left: 39px;
  }
  .innerText-edit{
    position: absolute;
    top: 32px;
    left: 42px;
  }
  .arrow-edit{
    top: 34px;
    left: 25px;
  }

.info-label{
  font-weight: 600;
}
.info-item-value{
  position: relative;
  left: 200px;
  bottom: 21px;
  width: 400px;
}
.info-block-header{
  background: var(--cyan);
  color: white;
  padding: 4px 25px 6px;
  font-size: 22px;
  font-weight: 600;
}
.info-block{
  margin: 30px 0 30px 20px;
}

.bool-block{
  display: flex;
  margin-top: 30px;
}

.bool-radio{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: default;
  margin-right: 30px;
  margin-top: -3px;
}
.chk-container{
  margin-top: 45px;
}
.chk{
  width: 40px;
  height: 20px;
  position: relative;
  top: 4px;
  left: -4px;
  border-radius: 0;
  background: grey;
  border: 1px solid black;
  box-shadow: none !important;
}

.state-label{
  border-radius: 50px;
  color: white;
  width: fit-content;
  padding: 4px 10px;
  margin: 0 auto;
}

.validation-error-message{
  color: red;
  position: relative;
  left: 180px;
  bottom: 33px;
}

.date-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-issuer-btn{
  width: 20px;
  height: 20px;
  background: url('../img/edit_issuer.svg') no-repeat;
  background-size: 16px;
  position: absolute;
  top: 63px;
  z-index: 1;
  cursor: pointer;
}
.pair-block{
  display: flex;
  justify-content: space-between;
  width: 585px;
  margin-top: 20px;
}
.corpAction-btn{
  background: grey;
  padding-left: 0;
}

.corpTable{
  margin: auto;
  width: 800px;
  margin-top: -30px;
  margin-bottom: 70px;
  border-spacing: 0;
}
.corpTable thead th, .corpTable thead td{
  padding: 5px 18px;
  background: var(--cyan); 
  color: white; 
  font-weight: bold; 
}
.corpTable tbody tr{
  line-height: 40px;
  cursor: pointer;
}
.corpTable tbody tr:hover{
  background: #e0e0e0;
}
.selectedCorpAction{
  background: #ffb445 !important;
  color: white;
}

.corp-btn{
  width: 165px;
  height: 45px;
  color: white;
  border: none;
  font-family: inherit;
  font-size: 15px;
  margin-top: 30px;
  cursor: pointer;
}

.corp-action-submit{
  float: right;
  background: #00ca63;
}
.corp-action-submit:hover{
  background: #06a854;
}
.corp-command-btns{
  float: left;
}
.corp-action-accounts{
  background: #adadad;
  margin-right: 15px;
}
.corp-action-participants{
  background: #adadad;
}

.corp-action-accounts:hover, 
.corp-action-participants:hover{
  background: grey
}