.document-info-container{
  margin-left: 15px;
  margin-top: 40px;
}


.document-info-container span{
    font-weight: 600;
    margin: 0 15px 15px 0;
    color: gray;
}
  .btn-group{
    display: flex;
  }
  .action-btn{
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: none;
    color: white;
    font-weight: 600;
    padding-left: 25px; 
    margin-right: 10px;
  }
  
  .edit-btn{
    background-color: #8adcba;
    padding-left: 36px;
  }
  .edit-btn:hover{
    background-color: #3dc18a;
}
  
  .edit-btn-icon{
    width: 20px;
    height: 20px;
    background: url('../img/edit_icon.svg') no-repeat;
    background-size: 16px;
    position: absolute;
    left: 14px;
    top: 11px;
  }
  .delete-btn{
    background-color: #ff8d8d;
    padding-left: 20px;
  }
  .delete-btn:hover{
      background-color: #e65252;
  }
  
  .delete-btn-icon{
    width: 14px;
    height: 14px;
    background: url('../img/delete_icon.svg') no-repeat;
    background-size: 14px;
    position: absolute;
    top: 13px;
    left: 19px;
    cursor: pointer;
  }
  .input-block{
    overflow: auto;
  }
  .cancel-btn{
    background: #b9b9b9;
  }
  .cancel-btn:hover{
    background: #929292;
  }
  .arrow-left{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 15px;
    left: 20px;
  }
  .innerText{
    position: absolute;
    top: 12px;
    left: 39px;
  }