.document-info-container{
  margin-left: 15px;
  margin-top: 60px;
}

  .btn-group{
    display: flex;
  }
  .action-btn{
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: none;
    color: white;
    font-weight: 600;
    padding-left: 25px; 
    margin-right: 10px;
  }
  
  .edit-btn{
    background-color: #8adcba;
    padding-left: 36px;
  }
  .edit-btn:hover{
    background-color: #3dc18a;
}
  
  .edit-btn-icon{
    width: 20px;
    height: 20px;
    background: url('../img/edit_icon.svg') no-repeat;
    background-size: 16px;
    position: absolute;
    left: 14px;
    top: 11px;
  }
  .delete-btn{
    background-color: #ff8d8d;
    padding-left: 20px;
  }
  .delete-btn:hover{
      background-color: #e65252;
  }
  
  .delete-btn-icon{
    width: 14px;
    height: 14px;
    background: url('../img/delete_icon.svg') no-repeat;
    background-size: 14px;
    position: absolute;
    top: 13px;
    left: 19px;
    cursor: pointer;
  }

  .submit-btn{
    width: 150px;
    height: 45px;
    color: white;
    background: #00ca63;
    border: none;
    font-family: inherit;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
  }
  .submit-btn:hover{
    background: #00a04d;
  }
  .cancel-btn{
    background: #d4d4d4;
  }
  .cancel-btn:hover{
    background: #929292;
  }
  .arrow-left{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 15px;
    left: 20px;
  }
  .innerText{
    position: absolute;
    top: 12px;
    left: 39px;
  }

.info-label{
  font-weight: 600;
}
.info-item-value{
  position: relative;
  left: 200px;
  bottom: 21px;
  width: 400px;
}
.info-block-header{
  background: var(--cyan);
  color: white;
  padding: 4px 25px 6px;
  font-size: 22px;
  font-weight: 600;
}
.info-block{
  margin: 30px 0 30px 20px;
}

.bool-btn-block{
  display: flex;
  width: 470px;
  justify-content: space-between;
  margin-top: 30px;
}

.bool-btn{
  width: 150px;
  height: 31px;
  color: #545454;
  background: #dedede;
  border-radius: 6px;
  text-align: center;
  padding-top: 8px;
  cursor: default;
}

.chk-container{
  margin-top: 30px;
}
.chk{
  width: 40px;
  height: 20px;
  position: relative;
  top: 4px;
  left: -4px;
  border-radius: 0;
  background: grey;
  border: 1px solid black;
}

.state-label{
  border-radius: 50px;
  color: white;
  width: fit-content;
  padding: 4px 20px;
  margin: 0 auto;
}