.side-bar{
    width: 150px;
    position: fixed;
    height: 100vh;
    padding-top: 30px;
    background: var(--darkGrey);
    color: var(--lightBlue);
  }
  .side-bar ul{
    padding: 0;
  }
  .side-bar li{
    list-style: none;
  }
  .side-bar button{
      color: white;
      width: 150px;
      height: 50px;
      border: none;
      font-family: inherit;
      font-size: 15px;
      text-align: left;
      cursor: pointer;
      padding-left: 30px;
      background: var(--darkGrey);
      
  }
  .side-bar button:hover{
        background: var(--hover);
    }
    .side-bar button:focus{
      background: #5d636b;
  }
  .logo{
    background: url('../img/logo.svg') no-repeat;
    height: 40px;
    width: 40px;
    background-size: 34px;
    margin-left: 95px;
    margin-top: -10px;
    margin-bottom: 15px;
  }