:root{
    --mainGrey: #9ea399;
    --link: #377bb9;
    --activeLink: #337ab7;
    --cyan: #3bc4d0;
    --darkGrey: #464e58;
    --lightBlue: #eef3f7;
    --hover: #ffa602;
    --lightHover: #d0dfe6;
  }
  a{
    text-decoration: none;
    color: var(--link);
  }
  a:active{
    text-decoration: none;
    color: var(--activeLink);
  }
  textarea:focus, input:focus, button:focus{
    outline: none;
  }

  .content-wrapper{
      position: absolute;
      top: 30px;
      left: 230px;
      max-width: 1400px;
  }